# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.gitleaks.test.toml

# Local env files
.env
.env.*
!.env.example
!.env.proxy

# Megalinter
megalinter-reports

# External repositories cloned by docker setup
docker/wallet-ecosystem
docker/eudi-srv-web-verifier-endpoint-23220-4-kt

# Proxy certificate
docker/proxy-cert.crt
docker/config/eudi-verifier/proxy-cert.crt
